.vcard {
  background-color: white;
  min-width: 410px;
  display: inline-block;
  position: relative;
}

.fn {
  background-color: #2c3e50;
  color: #ffffff;
  font-family: "Merriweather, Roboto";
  font-size: 24px;
  font-weight: 700;
  height: 100px;
  padding-top: 55px;
  padding-left: 25px;
}

.photo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 83px;
  height: 104px;
  box-shadow: 0px 1px 1px rgba(154,154,154,0.75);
  background-color: #ffffff;
}

.street-address, .region {
  padding-left: 5px;
}

.items {
  padding: 25px;
}

.item {
  display: flex;
  border-bottom: 1px solid lightgrey;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  font-family: "Merriweather";
  font-weight: 400;
  height: 33px;
}

.item-half {
  display: flex;
  flex-basis: 50%;
}

.label {
  flex-basis: 75px;
  font-size: 10px;
  color: #34495e;
  font-family: "Merriweather Sans";
  font-weight: 400;
  text-transform: uppercase;
}