html {
  font-size: 16px;
  @media only screen and (max-width : 1024px) {
    font-size: 14px;
  }
  @media only screen and (max-width : 610px) {
    font-size: 12px;
  }
  @media only screen and (max-width : 350px) {
    font-size: 8px;
  }
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
